{% extends 'codebase.html' %} {% load static %} {% block content %}
    <style></style>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 card alert-secondary p-4" >
            <div class="p-4 m-4">
                <div class="card text-white bg-info mb-3" style="max-width: 18rem">
                    <div class="card-body">
                        <h5 class="card-title">Create Job Alert</h5>
                        <p class="card-text">Create a job alert now and never miss the job</p>
                        <label>
                            <input class="rounded border border-dark my-2" type="text"/>
                        </label>
                        <a href="#" class="btn btn-light">Create Job Alert</a>
                    </div>
                </div>
                <form class="form" method="GET" action="{% url 'main:homepage' %}?page=1&order=-postdate">
                    <div class="form-group">
                        <p><strong>Type of Employment</strong></p>
                        {% for employment in employments %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="{{ employment }}"
                                       id="{{ employment }}" value="{{ employment }}">
                                <label class="form-check-label"
                                       for="{{ employment }}">{{ employment | capfirst }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <p><strong>seniority level</strong></p>
                        {% for position in no_of_position %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="no_of_position" id="{{ position }}"
                                       value="{{ position }}">
                                <label class="form-check-label" for="{{ position }}">
                                    {% if position == '0-10' %}
                                        {{ position | capfirst }}
                                    {% else %}
                                        >{{ position | capfirst }}
                                    {% endif %}
                                </label>
                            </div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn btn-primary disabled" disabled>Apply filter</button>
                </form>
            </div>
            </div>

            <div class="col-lg-9">
                <div class="alert alert-success my-4 mx-4 text-center" role="alert">
                    Showing from {{ start }} to {{ end }} of total {{ total }} items
                </div>
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle border-success mx-4" type="button" data-toggle="dropdown">
                        Order by
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="?page={{ jobs.number }}&order=postdate">Date ascending</a>
                        <a class="dropdown-item" href="?page={{ jobs.number }}&order=-postdate">Date descending</a>
                        <a class="dropdown-item" href="?page={{ jobs.number }}&order=id">Id ascending</a>
                        <a class="dropdown-item" href="?page={{ jobs.number }}&order=-id">Id descending</a>

                    </div>
                </div>
                <div class="custom">
                    {% for job in jobs %}
                        <a href="{% url 'main:detailed' job.id %}" style="text-decoration: none">
                            <div class="card alert-light shadow-lg pt-2" id="card">
                                <i
                                        class="card-img"
                                        id='cardimg'
                                >
                                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-square-fill"
                                         fill="yellow" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z"></path>
                                    </svg>
                                </i>
                                <div class="btn-group" id="hori3dot">

                                    <i class="btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots"
                                             fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path>
                                        </svg>
                                    </i>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item text-center" type="button">!</button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="mt-4" id="cardtitle">{{ job.jobtitle }}</h5>
                                    <p id="cardtitle"><b>Company Name</b>: {{ job.company | capfirst }}</p>
                                    <p id="cardtitle"><b>Skills</b>: {{ job.skills }}</p>
                                    <p id="cardtitle"><b>Pay-Rate</b>: {{ job.payrate }}</p>
                                    <p id="cardtitle"><b>Job Location</b>: {{ job.joblocation_address }}</p>
                                    <p id="cardtitle"><b>Posted On</b>: {{ job.postdate | truncatechars:11 }}</p>
                                    {% if job.site_name %}
                                        <p id="cardtitle"><b>Site Name</b>: <a
                                                href="https://{{ job.site_name }}">{{ job.site_name }}</a></p>

                                    {% else %}
                                        <p id="cardtitle" hidden><b>Site Name</b>: <a
                                                href="https://{{ job.site_name }}">{{ job.site_name }}</a></p>
                                    {% endif %}


                                </div>
                                <div class="card-footer mt-3 d-flex justify-content-between">
                                    <a type="button" class="btn btn-primary" href="{% url 'main:fillupform' job.id %}">Apply
                                        Now</a>
                                    <a type="button" class="btn btn-light">Messages</a>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <nav class="d-flex justify-content-center">


            <nav aria-label="">
                <ul class="pagination">
                    {% if jobs.has_previous %}

                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'main:homepage' %}?page={{ jobs.previous_page_number }}&order=-postdate">previous</a>

                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="{% url 'main:homepage' %}?page=1&order=-postdate">First</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" href="">previous</a>

                        </li>
                        <li class="page-item"><a class="page-link" href="">First</a></li>
                    {% endif %}

                    <li class="page-item active">
      <span class="page-link">
        {{ jobs.number }}
        <span class="sr-only">(current)</span>
      </span>
                        {% if jobs.has_next %}
                            </li>
                            <li class="page-item"><a class="page-link"
                                                     href="{% url 'main:homepage' %}?page={{ jobs.next_page_number }}&order=-postdate">{{ jobs.next_page_number }}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link"
                                   href="{% url 'main:homepage' %}?page={{ jobs.paginator.num_pages }}&order=-postdate">last</a>
                            </li>
                        {% endif %}

                </ul>
            </nav>
        </nav>
    </div>
    <script>
        function func() {
            $('input[type="checkbox"]').click(function () {
                if ($(this).is(':checked')) {
                    alert($(this).val());
                }
            });
        }
    </script>
{% endblock %}
